.DS_Store
.env
.env.backup
.env.example
.git
.github
.idea
.vscode
docker-compose.yml
Dockerfile
fly.toml
node_modules
npm-debug.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*.log
vendor
tests